/*div{
    color: red;
}*/
/*
div input{
    color: blue;
}*/
/*
.user>input{
     background: gold;
}*/
input[name=username]{
    background: green;}
input[name=userpass]{
    background: yellowgreen;
}
div #textarea{
    color: gold;
}
textarea[name=text]{
    background: gold;
}
.textarea:hover{
    background: blue;}
.textarea textarea:hover{
    background: purple;
}

div>select{
    background: gold;
}
div select option[name=gim]{
    background: hotpink;
    font-size: 30px;
}
select.hobi{
    background: deeppink;
}

/*
label+input{
    color: brown;
}*/

/*div~input{
    color: yellow;
}
/*
label[username]{
    color: aquamarine;
}*/
/*label>input{
    color: purple;
}
 */
/*
select[name=hobi-1]{
    font-size: 24px;
}*/
input[name~=email]{
    color: yellow;
}
input[name=email]{
    background:gold;
}
div .email{
    font-size: 25px;
}
div .live{
    font-size: 30px;}

button{
    background: greenyellow;
}
button[name=save]{
color: green;
}
div button.button{
    background: blanchedalmond;}
.label-1 {
    background: gold;
}